div {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  background-color: #333;
  margin: -10px;
  text-align: center;
  min-height: 45px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}

li:hover {
  background-color: #111;
  cursor: pointer;
  color: #ff6f61;
}

#second {
  margin-right: 100px;
}

#slct {
  background-color: whitesmoke;
  border-color: whitesmoke;
  border-radius: 20px;
}

#slct:hover {
  border-color: #ff6f61;
  cursor: pointer;
}

#inpt {
  border-radius: 20px;
}

#inpt:hover {
  border-color: #ff6f61;
}

#profile {
  border-radius: 30px;
  background-color: #555;
  margin: 1px;
}

#filter_icon{
  margin-top: 2px;
}
