<div>
  <ul>
    <li routerLink="/home">Home</li>
    <li>News</li>
    <li>Contact</li>
  </ul>

  <ul id="second">
    <li [routerLink]="['/filter']" id="filter_icon">
      <fa-icon [icon]="filter_icon"></fa-icon>
    </li>
    <li><input type="text" id="inpt" #input /></li>
    <li
      (click)="set_search_att(input.value)"
      [routerLink]="['/search']"
      routerLinkActive="router-link-active"
    >
      Search
    </li>
    <li id="profile" [routerLink]="['/profile']">
      <fa-icon [icon]="user_icon"></fa-icon>
    </li>
  </ul>
</div>
